[Desktop Entry]
Name=Cambalache
GenericName=Cambalache
Comment=Successor of Glade
Exec=/usr/bin/flatpak run --user ar.xjuan.Cambalache %f
Terminal=false
StartupNotify=false
MimeType=application/x-cambalache-project;application/x-gtk-builder;application/x-glade;
Type=Application
Icon=ar.xjuan.Cambalache
Categories=GNOME;GTK;Development;GUIDesigner;
