[Desktop Entry]
Name=Nvim-Qt Client
Version=0.4.11
GenericName=Nvim-qt
TryExec=/usr/bin/nvim-qt
Exec=dash -c "nvim-qt --no-ext-tabline --server=\$NVIM_LISTEN_ADDRESS"
Icon=nvim
Keywords=Text;editor;
Categories=TextEditor
Terminal=false
Type=Application
StartupWMClass=goneovim
