[Desktop Entry]
Name=Nvr
GenericName=Neovim
GenericName[de]=Neovim
Comment=Edit text files
#TryExec=ydotool-switch-to-nvim.sh
Exec=bash -c "$HOME/.dotfiles/local-bin-scripts/.local/bin/open_raise_nvim.sh %f"
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-log
