[Desktop Entry]
Name=SakuraSecondary
GenericName=Terminal
Comment=Use the command line
TryExec=sakura
Exec=sakura -m --name "SakuraSecondary" -e "tmuxp load -y secondary"
Icon=terminal-tango
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
Keywords=terminal;
StartupNotify=true
