[Desktop Entry]
Name=SakuraPrimary
GenericName=Terminal
Comment=Use the command line
TryExec=sakura
Exec=sakura -m --name "SakuraPrimary" -e "tmuxp load -y primary"
Icon=terminal-tango
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;System;
Keywords=terminal;
X-Info=Sakura
StartupNotify=true
