[Desktop Entry]
Name=WebpToGif
GenericName=WebpToGif
Comment=WebpToGif
Exec=bash -c "$HOME/.local/bin/webp-to-gif.sh %f"
Terminal=true
Type=Application
Keywords=Text;editor;
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=video
