/* @import url('/home/johannes/.local/share/gnome-shell/extensions/no-title-bar@jonaspoehler.de/stylesheet.css'); */

.titlebar, headerbar {
    background: #30FF00;
}

.titlebar:backdrop, headerbar:backdrop {
    background: #c6c5c4;
}

/*decoration {
  border: 8px solid green;
}*/

/* decoration:backdrop {
  border: none;
} */
