[Unit]
Description=Starts ydotoold service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/ydotoold
ExecReload=/usr/bin/kill -HUP $MAINPID
Nice=-18
KillMode=process
TimeoutSec=180

[Install]
WantedBy=default.target
